<div class="py-1">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2> Video Playing </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11" alt="The url given does not lead to any Youtube video.">
                <youtube-player [videoId]="videoId" [width]=""> </youtube-player>
            </div>
            <div class="col-md-1">
                <button name="edit" class="custombtn btn text-left" (click)="addFavourite($event)"><img
                        src="assets/icons/star.png" alt="star" class="icon" /></button>
            </div>
        </div>
    </div>
</div>