<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="">Search Bar</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form (ngSubmit)="playVideo()">
                    <div [formGroup]="videoURL">
                        <div class="form-group row">
                            <label for="urlLabel" class="col-1 col-form-label">URL</label>
                            <div class="col-9">
                                <input type="text" class="form-control" id="inputurl" placeholder="url" name="url"
                                    required="required" formControlName="url">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-success">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>