<app-searchbar></app-searchbar>
<div class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="form-group row">
                    <label for="urlLabel" class="col-3">History</label>
                    <div class="col-6">
                        <app-videoview></app-videoview>
                    </div>
                    <div class="col-3">
                        <p>Bookmarks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>