<div class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-12">
                        <app-searchbar></app-searchbar>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-6">
                        <app-history></app-history>
                    </div>
                    <div class="col-6">
                        <app-videoview></app-videoview>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-12">
                        <app-bookmarks></app-bookmarks>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>